express-starterkit/node_modules/*
react-starterkit/node_modules/*
react-router-starterkit/node_modules/*
react-redux-starterkit/node_modules/*
react-redux-postgresql-starterkit/node_modules/*
create-react-app-starterkit/node_modules/*
